{% extends 'base.html.twig' %}

{% block body %}

<center>
	<img class="img-responsive" src="http://www.maratonbigdata.cl/wp-content/uploads/2015/09/EntelMaratonBigData-img-hero-1024x299.png">
	<h1>Maratón {biG:dAta}</h1>
	<h3>En nuestra plataforma Team Up podrás postular, y si no tienes equipo o quieres complementarlo con más integrantes, puedes hacerlo en Team UP.</h3>
	<a class="btn btn-primary" href="http://www.maratonbigdata.cl/">Visita la web oficial</a>
</center>

{% endblock %}