{% extends 'base.html.twig' %}

{% block body %}

Bienvenido a TeamUP! donde encontrará su parj...equipo perfecto!

Si no tiene cuenta, ingrese <a href="{{path('signUp_route')}}">aquí</a>

{% endblock %}