{% extends 'base.html.twig' %}

{% block body %}

<center>
	<h1>Maraton Big:Data</h1>
	<h3>En nuestra plataforma Team Up podrás postular, y si no tienes equipo o quieres complementarlo con más integrantes, puedes hacerlo aquí.</h3>
</center>

{% endblock %}