{% extends 'base.html.twig' %}

{% block body %}

<center>
	<img class="img-responsive" src="http://www.maratonbigdata.cl/wp-content/uploads/2015/09/EntelMaratonBigData-img-hero-1024x299.png">
	<br>
	<h1 style="display: inline;color: #01549f;">MaratÓn <div style="display: inline;color: #ff6702;">{</div>biG:dAta<div style="display: inline;color: #ff6702;">}</div></h1>
	<h3>En nuestra plataforma Team Up podrás postular, y si no tienes equipo o quieres complementarlo con más integrantes, puedes hacerlo en Team UP.</h3>
	<br>
	<a class="btn btn-primary" target="_blank" href="http://www.maratonbigdata.cl/">Visita la web oficial</a>
</center>

{% endblock %}