{% extends 'base.html.twig' %}

{% block body %}
    <h1>Mensajes</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Mensajes con:</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for user in usersWithMessages %}
            <tr>
                <td>{{ user.getFullName }}</td>
                <td><a class="btn btn-xs btn-primary" href="{{ path('chat', {'id': user.id}) }}">Ver Conversaciones</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
