{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nuevo Equipo</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-primary btn1" role="button" value="Crear"/>
    {{ form_end(form) }}

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('user_index') }}" class="btn btn-info btn2" role="button">Equipos</a>
    {% endif %}
{% endblock %}
