{% extends 'base.html.twig' %}


{% block body %}

<div class="col-md-4 col-md-offset-4">
    <h4>Bienvenido a Team UP</h4>
    Ingese su contrase単a:
    {{ form_start(reset_form) }}
        {{ form_widget(reset_form) }}
        </br>
        
        {% if active %}
            <input type="submit" class="btn btn-primary btn1" role="button" value="Resetear Contrase単a" onclick="return validatePassword();"/>
        {% else %}
            <input type="submit" class="btn btn-primary btn1" role="button" value="Guardar Contrase単a" onclick="return validatePassword();"/>
        {% endif %}
    {{ form_end(reset_form) }}
</div>

<script type="text/javascript">

function validatePassword() {
    
    if(document.getElementById("form_plainPassword_first").value != document.getElementById("form_plainPassword_second").value)
    {
        alert("Las contrase単as deben coincidir");
        document.getElementById("form_plainPassword_first").style.borderColor = "#E34234";
        document.getElementById("form_plainPassword_first").focus();
        document.getElementById("form_plainPassword_second").style.borderColor = "#E34234";
        return false;    
    }
    return true;
}

</script>
{% endblock %}