{% extends 'base.html.twig' %}


{% block body %}

<div class="col-md-4 col-md-offset-4">
    <h4>Bienvenido a GestionIPre</h4>
    Ingese su contraseña:
    {{ form_start(reset_form) }}
        {{ form_widget(reset_form) }}
        </br>
        
        <input type="submit" class="btn btn-primary btn1" role="button" value="Resetear Contraseña" onclick="return validatePassword();"/>
    {{ form_end(reset_form) }}
</div>

<script type="text/javascript">

function validatePassword() {
    
    if(document.getElementById("form_plainPassword_first").value != document.getElementById("form_plainPassword_second").value)
    {
        alert("Las contraseñas deben coincidir");
        document.getElementById("form_plainPassword_first").style.borderColor = "#E34234";
        document.getElementById("form_plainPassword_first").focus();
        document.getElementById("form_plainPassword_second").style.borderColor = "#E34234";
        return false;    
    }
    return true;
}

</script>
{% endblock %}