{% extends 'base.html.twig' %}


{% block body %}

<div class="col-md-4 col-md-offset-4">
    <form action="{{ path('lost_password_route') }}" class="input-group-addon" lenght="300px" method="post">

        <label for="email">Ingrese su email para resetear la contraseña:</label>
        <input class="form-control" type="text" id="email" name="email" />

        </br>
        </br>
        <input type="hidden" name="reset" value="true" />


        <button class="btn btn-default"  type="submit" onclick="return validateEmail();" >Enviar</button>
    </form>
    </div>


    {% if reset %}
        <div class="col-md-4 col-md-offset-4">
            </br>
            El email ha sido enviado a la cuenta de correo provista, revise su bandeja de correo entrante y siga las instrucciones ahí detalladas (si no recibe el correo, revise su carpeta de spam y verifique que sea el email asociado a su cuenta).</br></br>
            Haga click <a href="{{ path('login_route') }}">aquí</a> para loguearse.
        </div>
    {% endif %}

<script type="text/javascript">

function validateEmail() {
    var email = document.getElementById("email").value;
    var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    var valid = re.test(email);
    if (!valid)
    {
        alert("Esta no es una dirección de correo válida (p.e. maratonbigdata@uc.cl)");
    }
    return valid;
}

</script>
{% endblock %}