{% extends 'base.html.twig' %}


{% block body %}

<div class="col-md-4 col-md-offset-4">
   Felicitaciones, su inscripción ha sido exitosa. Se le enviará un email con mas instrucciones a seguir para generar su contraseña y activar su cuenta.
    </div>
{% endblock %}