{% extends 'base.html.twig' %}


{% block body %}

<div class="col-md-4 col-md-offset-4">
   Felicitaciones, su inscripci칩n ha sido exitosa. Se le enviar치 un email con m치s instrucciones a seguir para generar su contrase침a y activar su cuenta.
    </div>
{% endblock %}